<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <title>About</title>
</head>
<body>
    {{>header}}

    <section>
        <h1>About page partials</h1>
        <h2>hello {{fname}} {{lname}}</h2>
    </section>
</body>
</html>