<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <title>Temperature</title>
</head>
<body>
    {{>header}}

    <section>
        <h1>enter the city name in query string to get temp of that city</h1>
        <h2>Temperature of {{city}} is {{temp}}</h2>
    </section>
</body>
</html>